In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel("Scholarships.xls")
df1 = pd.read_excel("Free_Education.xls")

df.head()

,Country,2010,2011,2012,2013,2014,2015,2016
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,3893675.0,4612261.0,7863613.0,15530605.0,7986533.0,7242959.0,6698819.0
2,Albania,1864490.0,2302223.0,2026175.0,3082877.0,2630896.0,3673467.0,2748845.0
3,Algeria,6967394.0,1820596.0,5003598.0,18004528.0,17782544.0,14606136.0,15214983.0
4,Angola,1394483.0,1068496.0,1485107.0,1800152.0,1805002.0,1828858.0,1955596.0

In [2]:
df.drop(df.index[0],inplace = True )
df = df.fillna(0)
for index,row in df.iterrows():
    if row['2016'] != 0:
        df.loc[(index),('Final')] = row['2016']
    elif row['2015'] != 0:
        df.loc[(index),('Final')] = row['2015']   
    elif row['2014'] != 0:
        df.loc[(index),('Final')] = row['2014']  
    elif row['2013'] != 0:
        df.loc[(index),('Final')] = row['2013']          
    elif row['2012'] != 0:
        df.loc[(index),('Final')] = row['2012']  
    elif row['2011'] != 0:
        df.loc[(index),('Final')] = row['2011']
    else:
        df.loc[(index),('Final')] = row['2010']      

df.head(20)

,Country,2010,2011,2012,2013,2014,2015,2016,Final
1,Afghanistan,3893675.0,4612261.0,7863613.0,15530605.0,7986533.0,7242959.0,6698819.0,6698819.0
2,Albania,1864490.0,2302223.0,2026175.0,3082877.0,2630896.0,3673467.0,2748845.0,2748845.0
3,Algeria,6967394.0,1820596.0,5003598.0,18004528.0,17782544.0,14606136.0,15214983.0,15214983.0
4,Angola,1394483.0,1068496.0,1485107.0,1800152.0,1805002.0,1828858.0,1955596.0,1955596.0
5,Anguilla,0.0,0.0,7653.0,0.0,0.0,0.0,0.0,7653.0
6,Antigua and Barbuda,17978.0,43085.0,45212.0,87050.0,110506.0,82087.0,48804.0,48804.0
7,Argentina,6165297.0,3898036.0,6902826.0,6874296.0,4982019.0,3678207.0,2145900.0,2145900.0
8,Armenia,1501310.0,1336556.0,1525838.0,4835799.0,4356662.0,3530003.0,3400818.0,3400818.0
9,Barbados,17355.0,0.0,0.0,0.0,0.0,0.0,0.0,17355.0
10,Belarus,1884382.0,2215418.0,4033643.0,7434243.0,6429941.0,9849628.0,7336640.0,7336640.0
11,Belize,109443.0,146989.0,254577.0,203521.0,295413.0,347966.0,49562.0,49562.0
12,Benin,1178387.0,839075.0,1294513.0,2197754.0,1740609.0,1940238.0,2544200.0,2544200.0
13,Bhutan,4190385.0,5350121.0,9059628.0,7721461.0,6886996.0,6065933.0,2811032.0,2811032.0
14,Bolivia,1717035.0,1627799.0,1252424.0,1345884.0,1228187.0,1173774.0,1510202.0,1510202.0
15,Bosnia/Herzegovina,1149830.0,1350241.0,1478317.0,1933108.0,1769239.0,1997705.0,1585457.0,1585457.0
16,Brazil,16288643.0,17517592.0,20005536.0,19546176.0,17446726.0,14307462.0,11722614.0,11722614.0
17,Burkina Faso,7914836.0,478799.0,1680264.0,1981146.0,1645673.0,1319340.0,1339269.0,1339269.0
18,Burundi,1590170.0,1380562.0,1314893.0,1400622.0,920922.0,1088066.0,867965.0,867965.0
19,Cabo Verde,1480222.0,1274838.0,3509706.0,2689392.0,1970814.0,1510194.0,1266992.0,1266992.0
20,Cambodia,9607709.0,12837324.0,13886564.0,15529151.0,23804380.0,13169929.0,12489942.0,12489942.0

In [3]:
df1.drop(df1.index[0],inplace = True )
df1 = df1.fillna(0)
df1['Final'] = df1['2016']

list = df.Country
df_copy = df1.loc[df1['Country'].isin(list)]
df_copy = df_copy.reset_index()
df_copy.index = df_copy.index + 1
del df_copy['index']
df_copy.head(20)
df1 = df_copy

In [4]:
import plotly.graph_objs as go
import plotly.offline as py
from plotly import tools


trace1 = go.Scatter(
    x = df.index,
    y = df.Final,
    mode = 'lines+markers',
    xaxis='x1',
    yaxis='y1',
    name = 'Expenditures spent on Scholarships',
    marker = dict(color = 'rgba(255, 102, 0, 0.7)'),
#                   255, 51, 51, 0.7)'),
#                   255, 102, 0, 0.7)'),
    text = df.Country)

trace2 = go.Scatter(
    x = df1.index,
    y = df1['Final'],
    mode = 'lines+markers',
    xaxis='x2',
    yaxis='y2',
    name = 'Promised No. of years of free education',
    marker = dict(color = 'rgba(102,102,255, 0.6)'),
    text = df1.Country)

layout = go.Layout(
    height=750, 
    width=1220,
    xaxis1=dict(
        title='Countries',
        anchor='y1',        
    ),    
    yaxis1=dict(
        title='Volume of official development assistance flows for scholarships',
        anchor='x1',
    ),
    xaxis2=dict(
        title='Countries',
        domain=[0.5, 1],
        anchor='y2',        
    ),
    yaxis2=dict(
        title='No. of years of free Education',
        domain=[0.5, 1],
        anchor='x2',
    ),
    title = 'UNESCO-Sustainable Development Goal-A pledge to ensure inclusive and equitable quality education for all by 2030'
)



data = [trace1, trace2]

fig = dict(data = data, layout = layout)

py.plot(fig)

'file://C:\\Users\\welcome\\temp-plot.html'

In [5]:
list = df.Country
df_copy = df1.loc[df1['Country'].isin(list)]
df_copy = df_copy.reset_index()
df_copy.index = df_copy.index + 1
del df_copy['index']
df_copy.head(20)

,Country,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Final
1,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
2,Albania,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
3,Algeria,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,13.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
4,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
5,Anguilla,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
6,Antigua and Barbuda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
7,Argentina,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
8,Armenia,0.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,...,10.0,10.0,10.0,11.0,12.0,12.0,12.0,12.0,12.0,12.0
9,Barbados,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
10,Belarus,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
11,Belize,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
12,Benin,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
13,Bhutan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
14,Bolivia,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
15,Bosnia/Herzegovina,8.0,8.0,8.0,8.0,8.0,8.0,8.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
16,Brazil,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,11.0,11.0,11.0,11.0,12.0,12.0,12.0,12.0,12.0
17,Burkina Faso,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.0,9.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0
18,Burundi,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
19,Cabo Verde,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
20,Cambodia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0